#fondo{
    background-color: aliceblue;
}

*{
    font-family: Calibri, sans-serif;
}

.verde{
    background-color: rgba(147, 236, 147, 0.548);
}

.azul{
    background-color: rgba(146, 209, 234, 0.256);
}

#titulo {
    color: rgb(7, 99, 41); 
    background-color: rgba(248, 248, 138, 0.361);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;  
}

img{
    display:block;
    margin:auto;
    border-radius: 10px;
}

.parrafo {
    font-style: italic;
    text-align: center;
}


#intro{
    background-color: rgba(70, 192, 244, 0.518);
    font-style: italic;
    text-align: center;
}


#est {
    border: 1.5px dotted rgb(70, 85, 244);
    border-radius: 20px;
}


h3{
    color: rgb(45, 93, 95);
    background-color: rgba(135, 207, 235, 0.397);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
}

.cent {
    text-align: center;
    margin: 0 auto;
}